{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center">Set new password!</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="card-3 offset-11">
                        <a href="{{ path('app_login') }}">Or Login!</a>
                    </div>
                    <div class="card-3 offset-9">
                        <a href="{{ path('app_registration') }}">Or Sign UP!</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}