{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block body %}
    {% for message in app.flashes('wrong') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card bg-light">
                <div class="card-body">
                    <h1 class="text-center">Reset Password</h1>
                    {{ form_start(form) }}
                    <tr>Enter Email</tr>
                    {{ form_widget(form.email) }}
                    {{ form_widget(form.submit) }}
                    <div class="card-3 offset-10">
                        <a href="{{ path('app_login') }}">Or Login!</a>
                    </div>
                    <div class="card-3 offset-10">
                        <a href="{{ path('app_registration') }}">Or Register!</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}