{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ question.name }}</td>
            </tr>
            <tr>
                <th>Question_text</th>
                <td>{{ question.questionText }}</td>
            </tr>
        </tbody>
    </table>
    <h1>Answers</h1>

    {% for answer in answers %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ answer.id }}</td>
        </tr>
        <tr>
            <th>Answer text</th>
            <td>{{ answer.answerText }}</td>
        </tr>
        <tr>
            <th>True or Not</th>
            <td>{{ answer.trueOrNot ? 'Yes' : 'No'  }}</td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
    <a href="{{ path('question_index') }}">back to list</a>

    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
