{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Able Quizzes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Quiz Number</th>
                <th>Name</th>
                <th>Status</th>
                <th>Users</th>
                <th>First place</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.status ? 'Yes' : 'No' }}</td>
                <td>{{ quiz.usersNumber }}</td>
                {% if quiz.firstPlace != null %}
                    <td>{{ quiz.firstPlace }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
                <td>
                    <a href="{{ path('start_playing', {'id': quiz.id}) }}">start</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
