{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}

    {{ parent() }}
    {{ form_start(searchBar) }}
    {{ form_widget(searchBar) }}
    {{ form_end(searchBar) }}
    {% for message in app.flashes('added') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Question_text</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.name }}</td>
                <td>{{ question.questionText }}</td>
                <td>
                    <a href="{{ path('edit_quiz_question_show', {'quiz_id': quiz.id, 'id': question.id}) }}">show</a>
                    <a href="{{ path('edit_quiz_question_edit', {'quiz_id': quiz.id, 'id': question.id}) }}">edit</a>
                    <a href="{{ path('edit_quiz_question_add', {'quiz_id': quiz.id, 'id': question.id}) }}">add</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('edit_quiz_question_create', {'id': quiz.id}) }}">Create new</a>
    <a href="{{ path('quiz_index') }}">Back to Quizzes</a>
    <div class="navigation">
        {{ knp_pagination_render(questions) }}
    </div>

{% endblock %}