{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Create new Question</h1>

    {% for message in app.flashes('answers') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ include('quiz/_form.html.twig') }}


    <a href="{{ path('edit_quiz_questions_show', {'id': quiz.id}) }}">back to questions</a>

    {{ parent() }}

{% endblock %}