{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(searchBar) }}
    {{ form_widget(searchBar) }}
    {{ form_end(searchBar) }}
    <h1>Quizzes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Date of Creation</th>
                <th>Users</th>
                <th>First place</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.status ? 'Yes' : 'No' }}</td>
                <td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quiz.usersNumber }}</td>
                {% if quiz.firstPlace != null %}
                    <td>{{ quiz.firstPlace }}</td>
                {% else %}
                    <td> - </td>
                {% endif %}
                <td>
                    <a href="{{ path('quiz_show', {'id': quiz.id}) }}">show</a>
                    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>
                    <a href="{{ path('start_playing', {'id': quiz.id}) }}">start</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(quizzes) }}
    </div>
    <br>
    <a href="{{ path('quiz_new') }}">Create new</a>
{% endblock %}
