{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    {{ parent() }}

    <h1>Quizzes</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Number of users</th>
        <th>Status</th>
        <th>Users</th>
        <th>First place</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.usersNumber }}</td>
            <td>{{ quiz.status ? 'Yes' : 'No' }}</td>
            <td>{{ quiz.usersNumber }}</td>
            {% if quiz.firstPlace != null %}
                <td>{{ quiz.firstPlace }}</td>
            {% else %}
                <td> - </td>
            {% endif %}
            <td>
        </tr>
    </tbody>
</table>
    <h1>Questions</h1>
<table class="table">
    {% for question in questions %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Question name</th>
        <th>Question text</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ question.id }}</td>
        <td>{{ question.name }}</td>
        <td>{{ question.questionText }}</td>
        <th>
        <a href="{{ path('edit_quiz_question_show', {'id': question.id, 'quiz_id': quiz.id}) }}">show</a>
        <a href="{{ path('edit_quiz_question_edit', {'quiz_id': quiz.id, 'id': question.id}) }}">edit</a>
        </th>
    </tr>
    </tbody>
    {% endfor %}
</table>

    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>

    <a href="{{ path('edit_quiz_questions_show', {'id': quiz.id}) }}">Add a question</a>


    {{ include('quiz/_delete_form.html.twig') }}

    <a href="{{ path('quiz_index') }}">back to list</a>


{% endblock %}
