{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <h1>Quiz</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ quiz.name }}</td>
            </tr>
            <tr>
                <th>Number of users</th>
                <td>{{ quiz.usersNumber }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ quiz.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('quiz_index') }}">back to list</a>

    <a href="{{ path('quiz_edit', {'id': quiz.id}) }}">edit</a>

    <a href="{{ path('edit_quiz_questions_show', {'id': quiz.id}) }}">Add a question</a>


    {{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
