<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('base.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% if is_granted("ROLE_USER") %}
                <div class="text-right" position="">
                    <a href={{ path('app_logout', {'id': app.user}) }}>Logout</a>
                    <tr>You logged as {{ app.user.email }}</tr>
                </div>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <nav class="nav nav--red">
                    <ul class="nav__list">
                        <li class="nav__list__item"><a href="{{ path('question_index') }}">Create new question here!</a></li>
                        <li class="nav__list__item"><a href="{{ path('user_index') }}">Watch all registered Users</a></li>
                        <li class="nav__list__item"><a href="{{ path('quiz_index') }}">Edit Quizzes</a></li>
                        <li class="nav__list__item"><a href="{{ path('main_page') }}">Play Quizzes</a></li>
                    </ul>
                </nav>
            {% endif %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
