{% extends 'base.html.twig' %}

{% block title %}Play!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.name }}</td>
                <td>{{ question.questionText }}</td>
            </tr>
        </tbody>
    </table>
    {% for answer in answers %}
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Answer text</th>
                <td>{{ answer.answerText }}</td>
            </tr>
            <tr>
                <th>True or Not</th>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <td>{{ include('playing/_form.html.twig', {'button_label': 'submit answer'}) }}</td>
{% endblock %}
