{% extends 'base.html.twig' %}

{% block title %}Play!{% endblock %}

{% block body %}
    {% for message in app.flashes('right') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('false') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('One Answer') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.name }}</td>
                <td>{{ question.questionText }}</td>
            </tr>
        </tbody>
    </table>
    {% for answer in answers %}
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Answer text</th>
                <td>{{ answer.answerText }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <th>Choose Right Answer</th>
    <td>
    </td>
    <td>{{ include('playing/_form.html.twig') }}</td>
{% endblock %}
