{% extends 'base.html.twig' %}

{% block title %}Play!{% endblock %}

{% block body %}
    {% for message in app.flashes('right') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('false') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('no_answers') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('too much') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Question</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.name }}</td>
                <td>{{ question.questionText }}</td>
            </tr>
        </tbody>
    </table>
    {% for answer in answers %}
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ answer.id }}</td>
            </tr>
            <tr>
                <th>Answer text</th>
                <td>{{ answer.answerText }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <th>Choose Right Answer</th>
    <td>
{#        <form action="{{ path('playing_quiz_questions', {'id': result.id}) }}" method="post">#}
{#            <label><input type="radio" name="user_answer[]" value="answer1"></label>#}
{#            <label><input type="radio" name="user_answer[]" value="answer2"></label>#}
{#            <label><input type="radio" name="user_answer[]" value="answer3"></label>#}
{#        </form>#}
    </td>
    <td>{{ include('playing/_form.html.twig') }}</td>
{% endblock %}

{#{% block javascripts %}#}
{#    <script>#}
{#        const submit = document.getElementById('form_submit');#}
{#        submit.onclick((event) => {#}
{#            event.preventDefault();#}
{#            const checkboxes = document.querySelectorAll('input[type="checkbox"]');#}
{#            checkboxes.forEach((item) => {#}
{#                alert(item.checked);#}
{#            })#}

{#            const test = checkboxes.map(item => {#}
{#                return item.checked;#}
{#            })#}
{#            debugger;#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}