{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(searchBar) }}
    {{ form_widget(searchBar) }}
    {{ form_end(searchBar) }}
    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <ul>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </ul>
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
